{% extends "pasabuy/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
<img class="card-img-top" src="{{product.image.url}}">    
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>

            </div>
        </form>
    </div>
{% endblock content %}