{% extends "pasabuy/base.html" %}
{% block content %}
            <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{product.image.url}}">
          <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h4>
            <h5 class="card-subtitle mb-2 text-muted" href="{% url 'user-products' object.owner.username %}">Posted by:{{ object.owner }}</h6>
            <h6 class="card-text">Created: {{ product.date_posted|date:"F d, Y"}}</h2>            
            <h6 class="card-text">Last modified: {{ product.last_modified|date:"F d, Y"}}</h2>            
            <p class="card-text">{{ product.description }}</p> 
            <p class="card-text">Price: {{ product.price }} PHP </p> 
          </div>
          <div class="card-footer">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url  'product-update' object.id %}">Edit</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url  'product-delete' object.id %}">Delete</a>      
          </div>
        </div>
      </div>
{% endblock content %}