{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<!-- template inheritance-->    
    {% if title %}
        <title>Pasabuy - {{ title }} </title>
    {% else %}
        <title>Pasabuy</title>
    {% endif %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static  'pasabuy/vendor/bootstrap/css/bootstrap.min.css'  %}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'pasabuy/main.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'pasabuy/css/heroic-features.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Pasabuy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link"  href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog-about' %}">About</a>
                </li>
         
              <!-- Navbar Right Side -->

                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">

          <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Pasabuy.com!</h1>
      <p class="lead">Organize a group buy! Purchase from pasabuy hosts! Nandito na lahat!</p>
      <a href="#" class="btn btn-primary btn-lg">Find out how it works</a>
    </header>
    

          <div class="row text-center">
            {% if messages %}
              {%for message in messages%}
                <div class="alert alert-{{message.tags}}">
                {{ message }}
                </div>
              {%endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>

<!--          
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
          -->
        
        
  </div>
      
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <script src="{% static  'pasabuy/vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{% static  'pasabuy/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
</body>
</html>