{% extends "pasabuy/base.html" %}
{% block content %}

    <h1 class="mb-3">Products by {{ view.kwargs.username }} ({{ page_obj.paginator.count}}) </h1>
    {% for product in products %}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{product.image.url}}">
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <h2 class="card-text">{{ product.date_posted|date:"F d, Y"}}</h2>            
            <p class="card-text">{{ product.description }}</p> 
            <p class="card-text">{{ product.price }}</p> 
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'product-detail' product.id %}">Manage</a>
          </div>
        </div>
      </div>



    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and  num <  page_obj.number|add:'3' %}  
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}